@model List<Upwork_2019_08_08.Models.Ticket>
@{
    Layout = null;
}

<h2>
    Tickets <span>
        <button type="button"
                class="btn txttype" data-toggle="modal" data-target="#exampleModalCenter">
            <i style="color:#1c536b" class="fas fa-plus-square"> </i> Ticket
        </button>
    </span>
</h2>
<table class="table table-bordered ">
    <thead class="tablecolor">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reference Num.</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

            <!-- <th>
        <input class="form-control searchbox" type="text" placeholder="Search"
               aria-label="Search">

    </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
                {
                    index++;
        <tr>
            <th scope="row">@index.ToString()</th>
            <td><a href="@Url.Action("ViewTicket","Home", new {id=item.id })" target="_blank">Ref-@item.id.ToString("D9")</a></td>
            <td>@item.subject</td>
            <td>@item.message</td>
            <td>@item.datetime.ToString("MMMM dd yyyy hh:mm")</td>
            <td class="statuscolor statuspadding ">
                @switch (item.status)
                {
                    case 'n':
                        <div style="background-color: green"><span  style="font-weight: 700">New</span></div>
                        break;
                    case 'p':
                        <div class="" style="background-color: darkorange"><span style="font-weight: 700" >In Progress</span></div>
                        break;
                    case 'c':
                        <div class="" style="background-color: red"><span style="font-weight: 700" >Closed</span></div>
                        break;
                }
            </td>
            <td><a href="@Url.Action("ViewTicket","Home", new { id=item.id })" target="_blank">View Ticket</a></td>
            <!-- <td></td> -->

        </tr>
}

    </tbody>
</table>
<!--
<nav aria-label="..." id="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link" style="background-color: #1c536b; border-color: #1c536b">
                2
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 600px!important;" role="document">
        <div class="modal-content">
            <div id="finished">
                <div class="d-flex justify-content-center vertical-center-text finishedone">
                    <h3>Ticket Created <i style="color: green;" class="far fa-check-circle"></i></h3>
                </div>
                <p class="textpmodel">
                    
                        Your ticket has been successfully created. An email has been sent to your address with the ticket information. If you would like to view this ticket now you can do so.
                  
                </p>
            </div>
            <div class="modal-header model-header-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addAction" action="@Url.Action("AddTicket","Home")" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="name" style="font-size: 20px;">Name:</label><br>
                                    <input  data-validation="required" name="name" value="Tunjay Huseynov" disabled class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="email" style="font-size: 20px;">Email Address:</label><br>
                                    <input data-validation="email" name="email" value="tunjayhuseynov@gmail.com" disabled class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="subject" style="font-size: 20px;">Subject:</label><br>
                                    <input  data-validation="required" name="subject" class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="departament" style="font-size: 20px;">Department:</label><br>

                                    <select data-validation="required" class="custom-select" name="departament">
                                        <option selected disabled>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="text" style="font-size: 20px;">Message:</label> <br />
                                    <textarea  data-validation="required" name="text" class="form-control" style="height: 250px;"></textarea> <br />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="files" style="font-size: 20px;">Attachments:</label> <br />
                                    <input type="file" id="file" accept=".pdf, .doc, .jpeg, .png, .jpg" class="form-control-file" name="files" multiple />
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="submit" id="submiting" class="btn btn-primary">Add</button>
                </div>
                <div id="loading" class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</nav>

<script>

      $.validate({
    validateOnBlur : false, // disable validation when input looses focus
    errorMessagePosition : 'top', // Instead of 'inline' which is default
    scrollToTopOnError : false, // Set this property to true on longer forms
    onSuccess : function($form) {
       $("#submiting").click(() => $(".loadingModel").show())
      return false
    },

      });

    $(".table").DataTable({
        dom: 'lBfrtip',
        buttons: [
            'pdfHtml5','excel'
        ]
    });
      history.replaceState("", "Random", "/");
    var uploadField = document.getElementById("file");

        uploadField.onchange = function() {
                if(this.files[0].size > 2048000){
                    alert("File size must be less than 2MB!");
                    this.value = "";
                    };
                };

   $(".loadingModel").hide();
   $("#finished").hide();
  
    $('#addAction').ajaxForm(function () {
        $(".loadingModel").hide();
        $(".model-header-success").hide();
        $("#addAction").hide()
        $("#finished").show()

      
        
    });

</script>