@model List<Upwork_2019_08_08.Models.Ticket>
@{
    Layout = null;
        
}

<h2>
    Tickets <span>
        <button type="button"
                class="btn txttype" data-toggle="modal" data-target="#exampleModalCenter">
            <i style="color:#1c536b" class="fas fa-plus-square"> </i> Ticket
        </button>
    </span>
</h2>
<table class="table table-bordered responsive" style="width: 100%">
    <thead class="tablecolor">
        <tr>
            <th scope="col">Reference Num.</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @foreach (var item in Model)
        {

            <tr>
                <td><a href="@Url.Action("ViewTicket","Home", new {id=item.id })" >@item.TicketRefNumber</a></td>
                <td>@item.subject</td>
                <td>@item.message</td>
                <td>@item.datetime.ToString("MMMM dd yyyy hh:mm")</td>
                <td class="statuscolor statuspadding ">
                    @switch (item.status)
                    {
                        case 'n':
                            <div style="background-color: red"><span style="font-weight: 700">New</span></div>
                            break;
                        case 'p':
                            <div class="" style="background-color: darkorange"><span style="font-weight: 700">In Progress</span></div>
                            break;
                        case 'c':
                            <div class="" style="background-color: green"><span style="font-weight: 700">Closed</span></div>
                            break;
                    }
                </td>
                <td class="text-center"><a href="@Url.Action("ViewTicket","Home", new { id=item.id })" class="maincolor"  title="View Ticket"><i class="fas fa-eye "></i> </a></td>

            </tr>
        }

    </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 736px!important;" role="document">
        <div class="modal-content">
            <div id="finished">
                <div class="d-flex justify-content-center vertical-center-text finishedone">
                    <h3 id="res">Ticket Created <i style="color: green;" class="far fa-check-circle"></i></h3>
                </div>
                <p class="textpmodel">

                    Your ticket has been successfully created. An email has been sent to your address with the ticket information. If you would like to view this ticket now you can do so.

                </p>
                <button class="btn btn-primary" style="position: absolute; top: 225px; left: calc(50% - 38px);" data-dismiss="modal">Done</button>
            </div>
            <div class="modal-header model-header-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addAction" action="@Url.Action("AddTicket","Home")" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="name" style="font-size: 20px;">Name:</label><br>
                                    <input required name="name" value="@ViewBag.clientuser.name" disabled class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="semipadding">
                                    <label for="email" style="font-size: 20px;">Email Address:</label><br>
                                    <input required name="email" value="@ViewBag.clientuser.email" disabled class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="subject" style="font-size: 20px;">Subject:</label><br>
                                    <input required name="subject" class="form-control" type="text" /> <br />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="departament" style="font-size: 20px;">Department:</label><br>

                                    <select required class="custom-select" name="departament">
                                        <option selected disabled>Select</option>
                                        @foreach (var item in ViewBag.department)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="text" style="font-size: 20px;">Message:</label> <br />
                                    <textarea required name="text" class="form-control" style="height: 250px;"></textarea> <br />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="semipadding">
                                    <label for="files" style="font-size: 20px;">Attachments:</label> <br />
                                    <input type="file" id="file" accept=".pdf, .doc, .jpeg, .png, .jpg" class="form-control-file" name="files" multiple />
                                    <h6 style="padding-top: 12px; font-size: 12px; color: #4e4e4e;">*Accepted files are .pdf, .doc, .jpeg, .png, .jpg formats and each file must not be more than 2 Mb</h6>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="submit" id="submiting" class="btn btn-primary">Add</button>
                </div>
                <div id="loading" class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</nav>

<script>



    $(".table").DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
                        {
                extend: 'excelHtml5',
                title: 'Tickets',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                }
            },
            {
                extend: 'pdfHtml5',
                title: 'Tickets',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4]
                }
            },
     
        ]
    });
    history.replaceState("", "Random", "/");
    var uploadField = document.getElementById("file");

    uploadField.onchange = function () {
        if (this.files[0].size > 2048000) {
            alert("File size must be less than 2MB!");
            this.value = "";
        };
    };

    $(".loadingModel").hide();
    $("#finished").hide();

    var options = {
        success: function (responseText) {

                    $(".loadingModel").hide();
                     $(".model-header-success").hide();
                    $("#addAction").hide()
                    $("#finished").show()

            //$('#exampleModalCenter').modal('hide')
            $("#res").html("Ticket #" + responseText + " Created")

            $('#exampleModalCenter').on('hidden.bs.modal', function (e) {
                $("#ticketmenu").click()
            })

        },
        beforeSubmit: function (arr, $form, options) {
            $(".loadingModel").show();

        }
    };

    $('#addAction').ajaxForm(options);





</script>