@model List<Upwork_2019_08_08.Models.Client>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ClientsUserPage";
    Layout = "~/Areas/adminpanel/Views/Shared/_Layout.cshtml";
}

<h2>
    Users of @ViewBag.name <span>

    </span>
</h2>
<table class="table table-bordered responsive " style="width: 100%">
    <thead class="tablecolor">
        <tr>
            <th data-priority="1" class="all" scope="col">#</th>
            <th data-priority="2" class="all" scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th data-priority="3" class="all" scope="col">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <th scope="row">@index.ToString()</th>
                <td>@item.name</td>
                <td>@item.surname</td>
                <td>@item.email</td>
                <td class="aPadding text-center">
                    <a href="@Url.Action("ViewClientUser","Home", new { id=item.id })" target="_blank" class="maincolor" title="View"><i class="fas fa-eye "></i>  </a>
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
                    {
                        <text>
                            |<a href="@Url.Action("EditClientUser","Home", new { id=item.id })" target="_blank" class="maincolor" title="Edit"> <i class="fas fa-edit"></i> </a>|
                            <a href="#delete" onclick="myFunction(@item.id)" class="maincolor" title="Delete"> <i class="fas fa-trash-alt"></i> </a>
                        </text>
                    }

                </td>
                <!-- <td></td> -->

            </tr>
        }

    </tbody>
</table>

<script>
    

    $(".table").DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'pdfHtml5', 'excel'
        ]
    });


    //history.replaceState("", "Random", "/adminpanel");

   

    function myFunction(id) {

        var r = confirm("Are you sure to delete the user?");

        if (r == true) {
            $.get("/adminpanel/home/deleteclientuser/" + id, function () {
                alert("Done!")
                window.location.reload();
            })
        }
        else {

        }

    }

</script>
