@model List<Upwork_2019_08_08.Models.Departament>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<h2>
    Clients <span>
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
    {
                <button type="button"
                        class="btn txttype" data-toggle="modal" data-target="#exampleModalCenter">
                    <i style="color:#1c536b" class="fas fa-plus-square"> </i> Client
                </button>
                <button type="button"
                        class="btn txttype" data-toggle="modal" data-target="#exampleModalCenterUser">
                    <i style="color:#1c536b" class="fas fa-plus-square"> </i> User
                </button>
    }
</span>
</h2>
<table class="table table-bordered ">
    <thead class="tablecolor">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">User amount</th>
            <th scope="col">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <th scope="row">@index.ToString()</th>
                <td >@item.name</td>
                <td>@item.DepartamentUser.Count</td>
                <td>
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
                    {
                        <text> <a href="@Url.Action("ViewUsers","Home", new { id=item.id })" target="_blank">View </a>|
                            <a href="#delete"> Edit </a>|
                            <a href="#delete"> Delete </a>|
                        </text>
                    }
                    <a href="@Url.Action("ViewUsers","Home", new { id=item.id })" target="_blank"> Users</a>

                </td>
                <!-- <td></td> -->

            </tr>
        }

    </tbody>
</table>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="finished">
                <div class="d-flex justify-content-center vertical-center-text ">
                    <h3>Successfully Sent <i style="color: green;" class="far fa-check-circle"></i></h3>
                </div>
            </div>
            <div class="modal-header model-header-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="AddClient" action="@Url.Action("AddClient","Home")" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <label for="subject" style="font-size: 20px;">Name:</label><br>
                    <input name="subject" class="form-control" type="text" /> <br />

                </div>
                <div class="modal-footer">
                    <button type="submit" id="submiting" class="btn btn-primary">Add</button>
                </div>
                <div class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenterUser" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="finished">
                <div class="d-flex justify-content-center vertical-center-text ">
                    <h3>Successfully Sent <i style="color: green;" class="far fa-check-circle"></i></h3>
                </div>
            </div>
            <div class="modal-header model-header-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="AddUser" action="@Url.Action("AddUser","Home")" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <label for="name" style="font-size: 20px;">Name:</label><br>
                    <input name="name" class="form-control" type="text" /> <br />
                    <label for="surname" style="font-size: 20px;">Surname:</label> <br />
                    <input name="surname" class="form-control" type="text" /> <br />
                    <label for="email" style="font-size: 20px;">Email:</label> <br />
                    <input name="email" class="form-control" type="text" /> <br />
                    <label for="password" style="font-size: 20px;">Password:</label> <br />
                    <input name="password" class="form-control" type="text" /> <br />
                    <label for="users" style="font-size: 20px;">Clients:</label> <br />
                    <select class="js-example-basic-multiple js-states form-control" name="users[]" multiple>

                        @foreach (var item in Model)
                        {
                            <option value="@item.id">@item.name</option>
                        }

                    </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="submiting2" class="btn btn-primary">Add</button>
                </div>
                <div class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>

    $(".table").DataTable({
        dom: 'lBfrtip',
        buttons: [
            'pdfHtml5','excel'
        ]
    });

            $('.js-example-basic-multiple').select2({
            placeholder: "Select users"

        });

      history.replaceState("", "Random", "/");


    $(".loadingModel").hide();
    $(".finished").hide();

    $("#submiting").click(() => $(".loadingModel").show())

    $("#submiting2").click(() => $(".loadingModel").show())

    $('#AddClient').ajaxForm(function () {
        $(".loadingModel").hide();
        $(".model-header-success").hide();
        $("#AddClient").hide()
        $(".finished").show()



    });

    $('#AddUser').ajaxForm(function () {

        $(".loadingModel").hide();
        $(".model-header-success").hide();
        $("#AddUser").hide()
        $(".finished").show()



    });


</script>