@model List<Upwork_2019_08_08.Models.ClientUser>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Areas/adminpanel/Views/Shared/_Layout.cshtml";
}

    <h2>
        Users
        <!--<span>
        <button type="button"
                class="btn txttype" data-toggle="modal" data-target="#exampleModalCenterUser">
            <i style="color:#1c536b" class="fas fa-plus-square"> </i> New User
        </button>
    </span>-->
    </h2>
<table class="table table-bordered responsive " style="width: 100%">
    <thead class="tablecolor">
        <tr>
            <th data-priority="1" class="all" scope="col">#</th>
            <th data-priority="2" class="all" scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Activity</th>
            <th data-priority="3" class="all" scope="col" style="width: 65px;">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <th scope="row">@index.ToString()</th>
                <td>@item.name</td>
                <td>@item.surname</td>
                <td>@item.email</td>
                <td>
                    @if (item.isActive == true)
                    {<span>Active</span> }
                    else
                    { <span>Inactive</span>}
                </td>
                <td class="aPadding text-center">
                    <a href="#" data-toggle="modal" data-target="#exampleModal" onclick="getLinkForFrame('@Url.Action("ViewClientUser","Home", new { id=item.id })', 'View')" class="maincolor" title="View"><i class="fas fa-eye "></i>  </a>
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
                    {
                        <text>
                            |<a href="#inactive" onclick="ChangeActive(@item.id, '@item.isActive')" class="maincolor" title="Active/Inactive"> <i class="fas fa-user-lock"></i> </a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal" onclick="getLinkForFrame('@Url.Action("EditClientUser","Home", new { id=item.id })', 'Edit')" class="maincolor" title="Edit"> <i class="fas fa-edit"></i> </a>|
                            <a href="#delete" onclick="myFunction(@item.id)" class="maincolor" title="Delete" style="padding-left: 6px;"> <i class="fas fa-trash-alt"></i> </a>
                        </text>
                    }

                </td>
                <!-- <td></td> -->

            </tr>
        }

    </tbody>
</table>



<!--Edit View Model-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 453px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: -22px -15px;">
                <div id="rf" class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <iframe id="MyFrame" scrolling="no" src="" width="450" height="450" style="border: none;"></iframe>


            </div>

        </div>
    </div>
</div>

<!--End of the Edit View Modal-->

<script>
    $(".table").DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
                                    {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                }
            },
        ]
    });

    var getIframe = document.getElementById("MyFrame");

    function getLinkForFrame(link, type) {
        getIframe.style.visibility = "hidden"
        $("#rf").show();
        $("#exampleModalLabel").html(type)
        getIframe.src = link;

        getIframe.addEventListener("load", function () {
            getIframe.style.visibility = "visible"
            var $body = $('#MyFrame').contents().find('body')
            $body.find(".web-navbar").remove()
            $body.find(".mobiletab").remove()
            $("#rf").hide()
        })

    }

        function myFunction(id) {

        var r = confirm("Are you sure to delete the user?");

        if (r == true) {
            $.get("/adminpanel/home/deleteclientuser/" + id, function () {
                alert("Done!")
                window.location.reload();
            })
        }
        else {

        }

    }

    function ChangeActive(id, status) {

        var r;

        if (status == "True") {
            r = confirm("Are you sure to make inactive the user?");
        } else {
            r = confirm("Are you sure to make active the user?");

        }

        if (r == true) {
            $.get("/adminpanel/home/ChangeActivationUser/" + id, function () {
                alert("Done!")
                window.location.reload();
            })
        }
        else {

        }

    }
</script>