@model List<Upwork_2019_08_08.Models.Admin>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<h2>
    Admin Users <span>
        <button type="button"
                class="btn " data-toggle="modal" data-target="#exampleModalCenter">
            +Add User
        </button>
    </span>
</h2>
<table class="table table-bordered ">
    <thead class="tablecolor">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <th scope="row">@index.ToString()</th>

                <td>@item.name</td>
                <td>@item.surname</td>
                <td>@item.email </td>
                <td>
                    @if (@item.isAdmin)
                    {
                        <text>Super Admin</text>
                    }
                    else
                    { <text>Account Manager</text>}
                </td>
                <td>
                    <a href="@Url.Action("ViewUser","Home", new {id=item.id })" target="_blank">View </a>|
                    <a href="@Url.Action("EditUser","Home", new {id=item.id })" target="_blank"> Edit </a>|
                    <a href="#delete" onclick="myFunction(@item.id)"> Delete </a>|
                    <a href="@Url.Action("ResetPassword","Home", new {id=item.id })" target="_blank"> Reset Password </a>
                </td>
                <!-- <td></td> -->

            </tr>
        }

    </tbody>
</table>

@if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
{
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="finished">
                    <div class="d-flex justify-content-center vertical-center-text ">
                        <h3>Successfully Sent <i style="color: green;" class="far fa-check-circle"></i></h3>
                    </div>
                </div>
                <div class="modal-header model-header-success">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add A User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addAction" action="@Url.Action("AddUser","Home")" method="post" enctype="multipart/form-data">

                    <div class="modal-body">

                        <label for="name" style="font-size: 20px;">Name:</label><br>
                        <input name="name" class="form-control" type="text" /> <br />
                        <label for="surname" style="font-size: 20px;">Surname:</label> <br />
                        <input type="text" name="surname" class="form-control" /> <br />
                        <label for="email" style="font-size: 20px;">E-mail:</label> <br />
                        <input type="email" name="email" class="form-control" /> <br />
                        <label for="password" style="font-size: 20px;">Password:</label> <br />
                        <input type="password" class="form-control" name="password" /> <br />
                        <select id="RoleSelection" name="role" class="form-control">
                            <option disabled selected>Role</option>
                            <option value="1">Super Admin</option>
                            <option value="0">Account Manager</option>
                        </select> <br />
                        <select class="js-example-basic-multiple js-states form-control" name="users[]" multiple>
                            
                            @foreach (var item in ViewBag.departments)
                            {
                                    <option value="@item.id">@item.name</option>
                            }
                        </select>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submiting" class="btn btn-primary">Add</button>
                    </div>
                    <div id="loading" class="loadingModel">
                        <div class="d-flex justify-content-center vertical-center ">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

}

<script>
   
        $('.js-example-basic-multiple').select2({
            placeholder: "Select users"

        });

    $('.select2-container--default').hide()

    $("#RoleSelection").change(function () {
        if ($(this).val() == 0) {
            $(".select2-container--default").show()
        } else {
            $(".select2-container--default").hide()
            $('.js-example-basic-multiple').val(null).trigger('change');

        }
    })

    $(".table").DataTable({
        dom: 'lBfrtip',
        buttons: [
            'pdfHtml5', 'excel'
        ]
    });
    history.replaceState("", "Random", "/adminpanel");


    $(".loadingModel").hide();
    $("#finished").hide();
    $("#submiting").click(() => $(".loadingModel").show())
    $('#addAction').ajaxForm(function () {
        $(".loadingModel").hide();
        $(".model-header-success").hide();
        $("#addAction").hide()
        $("#finished").show()



    });

    function myFunction(id) {

        var r = confirm("Are you sure to delete the user?");

        if (r == true) {
            $.get("/adminpanel/home/DeleteUser/" + id, function () {
                $("#adminusermenu").click()
                alert("Done!")
            })
        }
        else {

        }

    }

</script>