@model List<Upwork_2019_08_08.Models.AdminUser>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<h2>
    Admin Users <span>
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
        {
            <button type="button"
                    class="btn txttype" data-toggle="modal" data-target="#exampleModalCenter">
                <i style="color:#1c536b" class="fas fa-plus-square"> </i> New User
            </button>
        }
    </span>
</h2>
<table class="table table-bordered responsive" style="width: 100%">
    <thead class="tablecolor">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Active/Inactive</th>
            <th scope="col">Action</th>

            <!-- <th>
                <input class="form-control searchbox" type="text" placeholder="Search"
                       aria-label="Search">

            </th>-->
        </tr>
    </thead>
    <tbody class="bckwhite">

        @{ int index = 0;}
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <th scope="row">@index.ToString()</th>

                <td>@item.name</td>
                <td>@item.surname</td>
                <td>@item.email </td>
                <td>
                    @if (@item.whoIs == 1)
                    {
                        <text>Super Admin</text>
                    }
                    else
                    { <text>Account Manager</text>}
                </td>
                <td>@if (item.isActive == true)
                {<text>Active</text>}
                else
                {<text>Inactive</text>}</td>
                <td class="aPadding text-center">

                    <a href="#" onclick="window.open('@Url.Action("ViewUser", "Home", new { id = item.id })','Pop Up','width=600,height=400')" class="maincolor" title="View"><i class="fas fa-eye "></i>  </a>

                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
                    {

                        <text>

                            |

                            <a href="#" onclick="window.open('@Url.Action("EditUser", "Home", new { id = item.id })','Pop Up','width=600,height=400')" class="maincolor" title="Edit"> <i class="fas fa-edit"></i>  </a>|

                            <a href="#delete" onclick="myFunction(@item.id)" class="maincolor" title="Delete"> <i class="fas fa-trash-alt"></i> </a>|

                            <a href="#inactive" onclick="ChangeActive(@item.id, '@item.isActive')" class="maincolor" title="Active/Inactive"> <i class="fas fa-user-lock"></i> </a>|
                            <a href="#" onclick="window.open('@Url.Action("ResetPassword", "Home", new { id = item.id })','Pop Up','width=600,height=400')" class="maincolor" title="Reset Password"><i class="fas fa-cog"></i></a>|
                        </text>
                        if (item.whoIs != 1)
                        {
                            <a href="#" onclick="window.open('@Url.Action("ShowManagerItsUsers", "Home", new { id = item.id })','Pop Up','width=600,height=400')" class="maincolor" title="Users"><i class="fas fa-users"></i></a>
                        }
                        else
                        {
                            <a href="#" class="maincolor" style="color: gray!important" title="Users"><i class="fas fa-users"></i></a>
                        }

                    }

                </td>
                <!-- <td></td> -->

            </tr>
                       
                   
        }

                      

    </tbody>
</table>

@if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
{
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 736px">
            <div class="modal-content">
                <div id="finished">
                    <div class="d-flex justify-content-center vertical-center-text ">
                        <h3>Successfully Sent <i style="color: green;" class="far fa-check-circle"></i></h3>
                    </div>
                </div>
                <div class="modal-header model-header-success">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add A User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addAction" action="@Url.Action("AddAdminUser","Home")" class="needs-validation" method="post">

                    <div class="modal-body">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <div class="semipadding">
                                        <label for="name" style="font-size: 20px;">Name:</label><br>
                                        <input name="name" class="form-control" type="text" required /> <br />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="semipadding">
                                        <label for="surname" style="font-size: 20px;">Surname:</label> <br />
                                        <input type="text" name="surname" class="form-control" required /> <br />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="semipadding">
                                        <label for="email" style="font-size: 20px;">E-mail:</label> <br />
                                        <input type="email" name="email" class="form-control" required /> <br />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="semipadding">
                                        <label for="password" style="font-size: 20px;">Password:</label> <br />
                                        <input type="password" class="form-control" name="password" required /> <br />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="semipadding">
                                        <select id="RoleSelection" name="role" class="form-control" required>
                                            <option disabled selected value="">Role</option>
                                            <option value="1">Super Admin</option>
                                            <option value="0">Account Manager</option>
                                        </select> <br />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="semipadding">

                                        <select class="js-example-basic-multiple js-states form-control" name="users[]" multiple>

                                            @foreach (var item in ViewBag.departments)
                                            {
                                                <option value="@item.id">@item.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submiting" class="btn btn-primary">Add</button>
                    </div>
                </form>
                <div id="loading" class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

}

    <script>$('.js-example-basic-multiple').select2({
            placeholder: "Select users"

        });

        $('.select2-container--default').hide()


        $("#RoleSelection").change(function () {
            if ($(this).val() == 0) {
                $(".select2-container--default").show()
            } else {
                $(".select2-container--default").hide()
                $('.js-example-basic-multiple').val(null).trigger('change');

            }
        })

        $(".table").DataTable({
            responsive: true,
            dom: 'lBfrtip',
            buttons: [
                'pdfHtml5', 'excel'
            ]
        });
        history.replaceState("", "Random", "/adminpanel");


        $(".loadingModel").hide();
        $("#finished").hide();

        var options = {
            success: function () {

                $('#exampleModalCenter').modal('hide')
                $('#exampleModalCenter').on('hidden.bs.modal', function (e) {
                    $("#adminusermenu").click()
                })

            },
            beforeSubmit: function (arr, $form, options) {

                $("#submiting").click(() => $(".loadingModel").show())

            }
        };

        $('#addAction').ajaxForm(options);

        function myFunction(id) {

            var r = confirm("Are you sure to delete the user?");

            if (r == true) {
                $.get("/adminpanel/home/DeleteUser/" + id, function () {
                    $("#adminusermenu").click()
                    alert("Done!")
                })
            }
            else {

            }

        }

        function ChangeActive(id, status) {

            var r;

            if (status == "True") {
                r = confirm("Are you sure to make inactive the user?");
            } else {
                r = confirm("Are you sure to make active the user?");

            }

            if (r == true) {
                $.get("/adminpanel/home/ChangeActivationAdmin/" + id, function () {
                    alert("Done!")
                    window.location.reload();
                })
            }
            else {

            }

        }</script>