@model List<Upwork_2019_08_08.Models.Message>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Areas/adminpanel/Views/Shared/_Layout.cshtml";
}
@*
    @if (ViewBag.ticket.status != 'c')
    {
        <button type="button"
                class="btn txttype" data-toggle="modal" data-target="#exampleModalCenter">
            <i style="color:#1c536b" class="fas fa-plus-square"> </i> Message
        </button>
    }*@
<div style="    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; margin: -20px ;padding-top: 10px;  background-color: #ebebeb; ">
    <div class="row">
        <div class="col-sm-3 col-12">
            <ul style="list-style-type: none; padding-bottom: 1px; padding-right: 1px; " class="ticketinfo">
                <li style="padding-bottom: 20px; font-weight: 500;" class="bckGray"><i class="fas fa-ticket-alt"></i> Ticket Information</li>
                <li class="bckWhite"><span style="font-weight: 500">Department:</span> <p>@ViewBag.department</p></li>
                <li class="bckGray"><span style="font-weight: 500">Submitted:</span> <p>@ViewBag.ticket.datetime.ToString("dd/MM/yy hh:mm")</p></li>
                <li class="bckWhite">
                    <span style="font-weight: 500">Last Updated:</span>
                    @if (Model.Any())
                    {
                        <text> <p> @Model.Last().datetime.ToString("dd/MM/yy hh:mm") </p> </text>
                    }
                    else
                    {
                        <text> <p> @ViewBag.ticket.datetime.ToString("dd/MM/yy hh:mm") </p></text>
                    }

                    
                    @if (ViewBag.ticket.status != 'c')
                    {
                        <div style="margin-top: 10px;">
                            <button id="rplybtn" class="infobtn"><i class="fas fa-edit"></i> Reply</button>
                            <button class="infobtn" onclick="myFunction()"><i class="fas fa-ban"></i> Close</button>
                        </div>
                    }
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-12">
            <h2 style="border-bottom: 2px solid #b1b1b1; color: #1c536b">View Ticket</h2>
            @if (ViewBag.ticket.status == 'c')
            {
                <div class="alert alert-warning text-center" role="alert" style="padding: 37px 0">
                    This ticket has been closed and cannot be reopened
                </div>
            }
            <table style="width: 100%; margin-top: 20px;">
                <tbody>
                    <tr style="border-top: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1; padding: 0 5px ">
                        <td style="width: 50%;padding: 10px;">Ticket Number:</td>
                        <td style="width: 50%">#@ViewBag.ticket.id</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #b1b1b1;">
                        <td style="width: 50%;padding: 10px;">Subject:</td>
                        <td>@ViewBag.ticket.subject</td>
                    </tr>
                </tbody>
            </table>
            @if (ViewBag.ticket.status != 'c')
            {
            <div class="accordion" id="replybox" style="margin-top: 20px; ">

                <div class="card">
                    <div class="card-header" id="reply" style="padding-left: 0; background-color: #7bd7ff59">
                        <h4 class="mb-0">
                            <button class="btn btn-link" id="btnMail" type="button"
                                    data-toggle="collapse" data-target="#replybody"
                                    aria-expanded="true" aria-controls="collapsereply" style="padding: 0; padding-bottom: 20px; padding-left: 15px;">
                                <i class="fas fa-edit" style="color: #1c536b;"></i>
                                <span style="text-align: start; color: #1c536b; font-weight: 500">Reply</span>

                            </button>
                            <button class="btn btn-link" id="btnMail2" type="button"
                                    data-toggle="collapse" data-target="#replybody"
                                    aria-expanded="false" aria-controls="collapsereply" style="padding: 0; padding-bottom: 20px; padding-left: 15px; float: right;">
                                <h4 style="float: right;color: #1c536b;" id="plusicon">+</h4>

                            </button>

                        </h4>
                    </div>

                    <div id="replybody" class="collapse" aria-labelledby="headingOne"
                         data-parent="#replybox">
                        <div class="card-body">
                            <form id="addAction" action="@Url.Action("AddMessage", "Home")" method="post" enctype="multipart/form-data">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-6">
                                            <label for="name" style="font-size: 19px;">Name:</label><br>
                                            <input name="name" value="Support Desk" disabled class="form-control" type="text" /> <br />
                                        </div>
                                        <div class="col-6">
                                            <label for="email" style="font-size: 19px;">Email Address:</label><br>
                                            <input name="email" value="supportdesk@talentindex.com" disabled class="form-control" type="text" /> <br />
                                        </div>
                                        <div class="col-12">
                                            <label for="text" style="font-size: 20px;">Message:</label> <br />
                                            <textarea name="text" class="form-control" style="height: 250px;"></textarea> <br />
                                        </div>
                                        <div class="col-12">
                                            <input type="hidden" value="@ViewBag.ticket.id" name="ticketid" />
                                            <label for="files" style="font-size: 20px;">Attachments:</label> <br />
                                            <input type="file" id="file" accept=".pdf, .doc, .jpeg, .png, .jpg" class="form-control-file" name="files" multiple /> 
                                            <h6 style="padding-top: 12px; padding-bottom: 12px; font-size: 12px; color: #4e4e4e;">*Accepted files are .pdf, .doc, .jpeg, .png, .jpg formats and each file must not be more than 2 Mb</h6>

                                        </div>
                                        <div class="col-12 text-center">
                                            <button type="submit" id="submiting" class="btn btn-primary">Reply</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>}
            <div class="accordion" id="accordionExample" style="margin-top: 20px">

                <div class="card">
                    <div class="card-header" id="reply" style="padding-left: 0">
                        <h2 class="mb-0">
                            <span style="float: right; font-size: 15px;">@ViewBag.ticket.datetime.ToString("dd/MM/yy hh:mm")</span>
                            <button class="btn btn-link" id="btnMail" type="button"
                                    data-toggle="collapse" data-target="#"
                                    aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-user"
                                   style="float: left; font-size: 42px ;margin-right: 10px; height: 80px; padding-top: 6px;  "></i>
                                <p style="text-align: start; float: left;">@ViewBag.ClientName</p>
                                <p style="text-align: start;">
                                    <span style="font-size: 14px; text-decoration: none">Client</span>
                                </p>
                            </button>
                        </h2>
                    </div>

                    <div id="body" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            @ViewBag.ticket.message
                            @if (ViewBag.ticket.filename != null)
                            {<p style="margin-top: 10px">
                                    @{
                                        string[] files = ViewBag.ticket.filename.Split(" ");
                                    }
                                    @if (files.Length > 0)
                                    {
                                 <span>
                                     Attachments: @foreach (var item in files)
                                     { <p>
                                         @{string ext = item.Split('/').Last().Split('.').Last();}
                                         @if (ext == "png" || ext == "jpg" || ext == "jpeg")
                                         {
                                             <a href="/files/@item.Split('/').Last()" download class="maincolor"><i class="far fa-image"></i> Image</a>
                                         }
                                         else if (ext == "doc")
                                         {
                                             <a href="/files/@item.Split('/').Last()" download class="maincolor"><i class="fas fa-file-word"></i> Word</a>

                                         }
                                         else
                                         {
                                             <a href="/files/@item.Split('/').Last()" download class="maincolor"><i class="fas fa-file-pdf"></i> Pdf</a>

                                         }
                                        </p>
                                     }
                                 </span>
                                    }
                                </p>}
                        </div>
                    </div>
                </div>

                @if (Model.Count > 0)
                {

                    foreach (var item in Model)
                    {


                        <div class="card">
                            <div class="card-header" id="reply" style="padding-left: 0">
                                <h2 class="mb-0">
                                    <span style="float: right; font-size: 15px;">@item.datetime.ToString("dd/MM/yy hh:mm")</span>
                                    <button class="btn btn-link" id="btnMail" type="button"
                                            data-toggle="collapse" data-target="#"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-user"
                                           style="float: left; font-size: 42px ;margin-right: 10px; height: 80px; padding-top: 6px; "></i>
                                        <p style="text-align: start; float: left;">
                                            @if (item.from == true)
                                            {
                                                <text> @ViewBag.ClientName </text>
                                            }
                                            else
                                            {
                                                <text> Support Desk </text>
                                            }
                                        </p>
                                        <p style="text-align: start;">
                                            <span style="font-size: 14px; text-decoration: none">
                                                @if (item.from == true)
                                                {
                                                    <text>Client</text>
                                                }
                                                else
                                                {
                                                    <text>Staff</text>
                                                }
                                            </span>
                                        </p>
                                    </button>
                                </h2>
                            </div>

                            <div id="body" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    @item.message
                                    @if (item.filename != null)
                                    {<p style="margin-top: 10px">
                                            @{
                                                string[] files = item.filename.Split(" ");
                                            }
                                            @if (files.Length > 0)
                                            {
                                         <span>
                                             Attachments: @foreach (var itemfile in files)
                                             { <p>
                                                 @{string ext = itemfile.Split('/').Last().Split('.').Last();}
                                                 @if (ext == "png" || ext == "jpg" || ext == "jpeg")
                                                 {
                                                     <a href="/files/@itemfile.Split('/').Last()" download class="maincolor"><i class="far fa-image"></i> Image</a>
                                                 }
                                                 else if (ext == "doc")
                                                 {
                                                     <a href="/files/@itemfile.Split('/').Last()" download class="maincolor"><i class="fas fa-file-word"></i> Word</a>

                                                 }
                                                 else
                                                 {
                                                     <a href="/files/@itemfile.Split('/').Last()" download class="maincolor"><i class="fas fa-file-word"></i> Pdf</a>

                                                 }
                                                 </p>
                                             }
                                         </span>
                                            }
                                        </p>}
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<!--

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="finished">
                <div class="d-flex justify-content-center vertical-center-text ">
                    <h3>Successfully Sent <i style="color: green;" class="far fa-check-circle"></i></h3>
                </div>
            </div>
            <div class="modal-header model-header-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Send Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addAction" action="@Url.Action("AddMessage","Home")" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <label for="subject" style="font-size: 20px;">Subject:</label><br>
                    <input name="subject" class="form-control" type="text" /> <br />
                    <label for="text" style="font-size: 20px;">Message:</label> <br />
                    <textarea name="text" class="form-control" style="height: 250px;"></textarea> <br />
                    <label for="files" style="font-size: 20px;">File:</label> <br />
                    <input type="file" id="file" accept=".pdf, .doc, .jpeg, .png, .jpg" class="form-control-file" name="files" multiple />
                    <input type="hidden" value="@ViewBag.ticket.id" name="ticketid" />

                </div>
                <div class="modal-footer">
                    <button type="submit" id="submiting" class="btn btn-primary">Send</button>
                </div>
                <div id="loading" class="loadingModel">
                    <div class="d-flex justify-content-center vertical-center ">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
    -->
<script>
        var uploadField = document.getElementById("file");

        uploadField.onchange = function() {
                if(this.files[0].size > 2048000){
                    alert("File size must be less than 2MB!");
                    this.value = "";
                    };
                };

    $(".loadingModel").hide();
    $("#finished").hide();
    $("#submiting").click(() => $(".loadingModel").show())
    $('#addAction').ajaxForm(function () {
        $(".loadingModel").hide();
        $(".model-header-success").hide();
        $("#addAction").hide()
        $("#finished").show()
        window.location.reload()
    });

    $("#rplybtn").click(function () {
        $("#replybody").collapse('toggle')

    })

    $('#replybody').on('show.bs.collapse', function () {

        $("#plusicon").html("-")
    })

    $('#replybody').on('hide.bs.collapse', function () {

        $("#plusicon").html("+")
})

    function myFunction() {

        var r = confirm("Are you sure to close the ticket?");

        if (r == true) {
            $.get("/adminpanel/home/closeticket/@ViewBag.ticket.id", function () {
                location.reload()
            })
            }
            else {

            }

}
</script>