@model Upwork_2019_08_08.Models.Feedback

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
